@import '../../../../scss/variables';

.header-content {
    padding: 0 1.5rem;
    margin-top: 25px;
    width: 90%;
    display: flex;
    justify-content: space-between;

    .header-title {
        font-size: 1.5rem;
        font-weight: 700;
        text-decoration: none;
        color: $color-text;
    }
}