.card-content-movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;

    .card-movie {
        width: 30%;
    
        .card-content-image {
            width: 100%;
    
            .card-movie-image {
                width: 100%;
                height: 70vh;
                object-fit: cover;
            }
        }
    }
}