<div class="card-content-movie">
    <div *ngFor="let movie of movies" class="card-movie">
        <div class="card-content-image">
            <img class="card-movie-image" src="{{ movie.img }}" alt="{{ movie.title }}">
        </div>
        <div>
            <h3>{{ movie.title }}</h3>
            <p>Release Date: {{ movie.releasedDate }}</p>
        </div>
        <div>
            <button class="btn btn-primary" (click)="goToMovie(movie)">View details</button>
            <div>
                <span>{{ movie.rating }}</span>
                <em class="fa-solid fa-star"></em>
            </div>
        </div>
    </div>
</div>