<div class="all-cards-content">
    <div class="card" *ngFor="let movie of movies">
        <div class="img-card">
            <img class="image" src="{{ movie.img }}" [alt]="movie.title">
        </div>
        <div class="card-content">
            <div class="card-title">
                <h1> {{ movie.title }} </h1>
                <h4> {{ movie.releasedDate }} </h4>
            </div>
            <div class="card-text">
                <p> {{ movie.description }} </p>
            </div>
            <div class="card-btn">
                <mat-card-actions>
                    <button 
                        mat-button color="warn"
                        [routerLink]="['/detail', movie.id]"
                    >More Info...</button>
                </mat-card-actions>
            </div>
        </div>
    </div>
</div>