<div class="all-cards-content">
    <div class="card" *ngFor="let movie of movies">
        <div class="img-card">
            <img class="image" src="{{ movie.img }}" [alt]="movie.title">
        </div>
        <div class="card-content">
            <div class="card-title">
                <div class="card-title-content">
                    <h1> {{ movie.title }} </h1>
                    <em 
                        class="{{ isMovieInWatchlist(movie) ? 'fa-solid' : 'fa-regular' }} fa-bookmark"
                        matTooltip="{{ isMovieInWatchlist(movie) ? 'The movie is on the watch list.' : 'The movie is not on the watch list.' }}"
                    ></em>
                </div>
                <h4> {{ movie.releasedDate }} </h4>
            </div>
            <div class="card-text">
                <p> {{ movie.description }} </p>
            </div>
            <div>
                <mat-card-actions class="card-btn">
                    <div *ngIf="!isMovieInWatchlist(movie)">
                        <button mat-button color="accent"
                            (click)="addMovieToWatchlist(movie)"
                        > Add to watchlist </button>
                    </div>
                    <div *ngIf="isMovieInWatchlist(movie)">
                        <button mat-button color="warn"
                            (click)="removeMovieToWatchlist(movie)"
                        > Remove from watchlist </button>
                    </div>
                    <div>
                        <button mat-button color="primary" [routerLink]="['/detail', movie.id]">
                            More Info...
                        </button>
                    </div>
                </mat-card-actions>
            </div>
        </div>
    </div>
</div>