<div class="all-cards-content">
    <div class="card">
        <div class="img-card">
            <img class="image" src="{{ currentMovie.img }}" alt="{{ currentMovie.title }}">
        </div>
        <div class="card-content">
            <div class="card-title">
                <h1> {{ currentMovie.title }} </h1>
                <h4> {{ currentMovie.releasedDate }} </h4>
            </div>
            <div class="card-text">
                <p> {{ currentMovie.description }} </p>
            </div>
        </div>
    </div>
</div>