<div class="all-cards-content">
    <div class="card">
        <div class="img-card">
            <img class="image" src="{{ currentMovie.img }}" alt="{{ currentMovie.title }}">
        </div>
        <div class="card-content">
            <div class="card-title">
                <div class="card-title-content">
                    <h1> {{ currentMovie.title }} </h1>
                    <em 
                        class="{{ isMovieInWatchlist(currentMovie) ? 'fa-solid' : 'fa-regular' }} fa-bookmark"
                        matTooltip="{{ isMovieInWatchlist(currentMovie) ? 'The movie is on the watch list.' : 'The movie is not on the watch list.' }}"
                    ></em>
                </div>
                <h4> {{ currentMovie.releasedDate }} </h4>
            </div>
            <div class="card-text">
                <p> {{ currentMovie.description }} </p>
            </div>
            <div class="card-extra-info-content">
                <span> <strong>Genre:</strong> {{ currentMovie.genre }}</span>
                <span> <strong>Duration:</strong> {{ currentMovie.duration }}</span>
                <span> <strong>Rating:</strong> {{ currentMovie.rating | number: '1.1' }}</span>
            </div>
            <div class="card-btn">
                <div>
                    <button mat-button color="warn">
                        <a class="card-trailer" href="{{ currentMovie.trailerLink }}" target="_blank">Watch trailer</a>
                    </button>
                </div>
                <div>
                    <div *ngIf="!isMovieInWatchlist(currentMovie)">
                        <button mat-button color="accent"
                            (click)="addMovieToWatchlist(currentMovie)"
                        > Add to watchlist </button>
                    </div>
                    <div *ngIf="isMovieInWatchlist(currentMovie)">
                        <button mat-button color="warn"
                            (click)="removeMovieToWatchlist(currentMovie)"
                        > Remove from watchlist </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>