<div class="all-cards-content">
    <div class="card">
        <div class="img-card">
            <img class="image" src="{{ currentMovie.img }}" alt="{{ currentMovie.title }}">
        </div>
        <div class="card-content">
            <div class="card-title">
                <h1> {{ currentMovie.title }} </h1>
                <h4> {{ currentMovie.releasedDate }} </h4>
            </div>
            <div class="card-text">
                <p> {{ currentMovie.description }} </p>
            </div>
            <div class="card-extra-info-content">
                <span>Genre: {{ currentMovie.genre }}</span>
                <span>Duration: {{ currentMovie.duration }}</span>
                <span>Rating: {{ currentMovie.rating }}</span>
            </div>
            <div class="card-btn">
                <div>
                    <button mat-button color="warn">
                        <a class="card-trailer" href="{{ currentMovie.trailerLink }}" target="_blank">Watch trailer</a>
                    </button>
                </div>
                <div>
                    <button mat-button color="warn">
                        Add to watchlist
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>