<div>
  <h2 mat-dialog-title>Movies on watchlist: {{ watchlist.length }}</h2>
  <mat-dialog-content>
    <div *ngIf="!watchlist.length">
      <ul> <li> There are currently no movies in the watchlist. </li> </ul>
    </div>
    <div *ngIf="watchlist.length">
      <div *ngFor="let movie of watchlist">
          <ul> <li> {{ movie.title }} </li> </ul>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>